@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-dark-brown {
  background-color: rgb(196, 150, 109);
}

.bg-light-brown {
  background-color: rgb(216, 170, 139);
}

.ai-color-1 {
  /* background-color: #FFAA95 */
  background-color: #FFFFFF
}

.ai-color-2 {
  /* background-color: #eb8c81 */
  background-color: #EEEEEE
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 5s linear infinite;
}

@keyframes oscillateOpacity {
  0%, 100% { opacity: 0.25; }   /* Starts and ends at 0 opacity */
  50% { opacity: 1; }       /* Midway through the animation, full opacity */
}

.animated-content {
  animation: oscillateOpacity 4s infinite; /* 5 seconds for one complete cycle; adjust as needed */
}